asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
cloudinary==1.41.0
Django==5.1.4
django-cloudinary-storage==0.3.0
gunicorn==23.0.0
idna==3.10
packaging==24.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
urllib3==2.3.0
